/* to do leest 
- custom scrollbar
- autohide scrollbar
- make time work
- 
*/



/*
@font-face {
    font-family: 'Satoshi-Black';
    font-style: normal;
    font-weight: 900;
    src: local('Satoshi'), url('https://fonts.cdnfonts.com/css/satoshi') format('woff');
} */

@import url('https://fonts.cdnfonts.com/css/satoshi');

@font-face {
    font-family: 'Zen Kaku Gothic New';
    font-style: normal;
    font-weight: 900;
    src: local('Zen Kaku Gothic New'), url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap') format('woff');
}

html {
    user-select: none;
    scroll-behavior: smooth;
    font-size: 1.125em;
    overflow-x: hidden;
}
.htmlwhendiamond {
    scroll-behavior: auto;
}



body {
    background: linear-gradient(0deg, rgba(249,249,249,1) 0%, rgba(243,243,243,1) 100%);
    font-family: 'Zen Kaku Gothic New', sans-serif;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.75;
    font-weight: 400;
    color: #000000;
    
    margin: 0;
    padding: 0px;


}

::selection {
    background: #51E08E; /* WebKit/Blink Browsers */
}
#body {
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgba(220,220,220,1) 80%, rgba(245,255,255,1) 100%);
}
body::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}
.bodynoflow {
    overflow-y: hidden;
}
  
p {margin-bottom: 1rem;}

h2, h3, h4, h5 {
    margin: 3rem 0 1.38rem;
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    line-height: 1.3;
}

h1 {
    margin: 0px;
    font-family: 'Satoshi', sans-serif;
    font-weight: 900;
    line-height: 1.3;
    font-size: 5.653rem;
}

h2 {font-size: 3.998rem;}

h3 {font-size: 2.827rem;}

h4 {font-size: 1.999rem;}

h5 {font-size: 1.414rem;}
  

small, .text_small {font-size: 0.764rem;}


a {
    text-decoration: none;

}

.container {
    height: 100%;
    width: 100%;
    max-width: 80vw;
    margin: auto;
    /* cursor: url('assets/man.jpg'), auto; */
}
.wave {
    position: absolute;
    z-index: -5;
    opacity: 0.5;
}
#title {
   
    animation: transitionIn 500ms;
}


.bodybold {
    font-family: 'Zen Kaku Gothic New';
    font-weight: 900;
    font-size: 24px;
    line-height: 150%;
    width: 40%;
    margin: 0px;
}


@keyframes transitionIn {
    from {
        /* opacity: 0; */
        transform: translateY(5%);
    
    } 
    
    to {
        transform: translateY(0);
        opacity: 1;
    
    }
}
@keyframes color-change {
    0% { color:#EF5B85; }
    50% { color:#70d6ff; }
    100% { color:#EF5B85; }
}

@keyframes loader-in1 {
    0% { 
        transform: scale(100%, 100%);
        filter: invert(0);

    }
    50% {
        transform: scale(200%, 200%);
        filter: invert(1);

    }
    100% { 
        transform: scale(100%, 100%);
        filter: invert(0);

    }

}
/* simple scale rot */
/* @keyframes loader-in1 {
    0% { 
        transform: scale(200%, -200%) rotateX(180deg) rotateY(0deg);
        filter: invert(0);

    }
    50% {
        transform: scale(100%, 100%) rotateX(0deg) rotateY(0deg);
        filter: invert(1);

    }
    100% { 
        transform: scale(-200%, 200%) rotateY(180deg) rotateX(0deg);
        filter: invert(0);

    }

} */
/* rotation */
/* @keyframes loader-in1 {
    0% { 
        transform: scale(200%, -200%) rotateX(180deg) rotateY(0deg);
        filter: invert(0);

    }
    50% {
        transform: scale(100%, 100%) rotateX(0deg) rotateY(0deg);
        filter: invert(1);

    }
    100% { 
        transform: scale(-200%, 200%) rotateY(180deg) rotateX(0deg);
        filter: invert(0);

    }

} */

@keyframes textpop {
    0% {
        transform: translateY(40%);
    }
    1% {
        opacity: 1;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}


@keyframes loaderbg {
    0% {
        background-position: 0% 50%;
    }
   
    100% {
        background-position: 600% 50%;
    }
}
@keyframes loaderOut {
    0% {
        transform: scale(100%);
        opacity: 1;
        z-index: 15;

    }
    25% {
        transform: scale(100%);
        opacity: 1;
        z-index: 15;

    }
    50% {
        transform: scale(150%);
        opacity: 0;
        display: none;
        /* z-index: -100; */
    }
    100% {
        z-index: -99;
        opacity: 0;
    }
}
@keyframes loaderIn {
    from {
        opacity: 1;
        
    }
    to {
        opacity: 0;
        
    }
}


.loader-wrapper {
    /* animation: loaderIn 300ms; */
    backdrop-filter:blur(1000px);
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    
    
}
/* .loaderoverlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 20 !important;
    background: #fff;
    animation: loaderIn 200ms;
    animation-timing-function: cubic-bezier(0,0.45,0.59,0.96);
} */
.loaderbg {
    background: linear-gradient(110deg, rgba(81,224,142,1) 0%, rgba(112,214,255,1) 25%, rgba(239,91,133,1) 50%, rgba(255,201,115,1) 75%, rgba(81,224,142,1) 100%);
    background-size: 600%;
    background-position: 0%;
    animation: loaderbg 15s infinite;
    animation-timing-function: linear;
    z-index: 19;

}

.loadercenter {
    mix-blend-mode:overlay;
    background-image: url("assets/loading.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 150px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loader {
    z-index: 16;
}

.loadhide {
    animation: loaderOut 1000ms;
    animation-delay: 100ms;
    animation-timing-function:cubic-bezier(0.55,0.04,1,0.95);
    animation-fill-mode: forwards;
}


.logo {
    position: fixed;
    transform: scale(50%) translate(20%, -20%);
    right: 0;
    z-index: 9;
    /* mix-blend-mode: difference;
    backdrop-filter: blur(9999999999999999999999px);
    border-radius: 100%;
    filter: invert(100%) grayscale(100%) contrast(100000%); */
}

#logo {
    transition: 1000ms cubic-bezier(0.65,0.05,0.36,1);
}
.logohide {
    transform: scale(50%) translate(150%, -20%);
}


.navbarwrapper {
    position: fixed;
    scroll-snap-align: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    left: 5vh;
    width: 80px;
    height: 100vh;
    justify-content: center;
    align-items: normal;
    
    
}
#navbar a {
    color: rgba(0, 0, 0, 0.4);
    transition: 200ms cubic-bezier(0,0.65,0.36,1);
}
#navbar a.active {
    color: rgba(255, 255, 255, 1);
}
#navbar a:hover {
    transform: scale(120%);
}
#navbar a:active {
    transform: scale(80%);
}
#navbar a div::after {
    z-index: -1;
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transform: scale(200%);
    transition: 200ms cubic-bezier(0,0.65,0.36,1);
}
#navbar a:hover div::after {
    background: #e9e9e9;
}
#navbar a.active div::after {
    background:#51E08E;
}
#navbar a div {
    position: relative;

}
#navbar {
    overflow: visible;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-top: 1.5em;
    padding-bottom: 1em;
    align-items: center;
    height: 450px;
    border-radius: 100px;
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.1);
    background: rgba(249, 249, 249, 0.15);
    
    transition: 200ms cubic-bezier(0,0.65,0.36,1);
}
#navbar:hover {
    /* transform: translateY(-1%); */
    box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.3);
    transform: scale(101%);
}

#nav {
    transition: 1000ms cubic-bezier(0.65,0.05,0.36,1);
}
.navbarhide {
    transform: translateX(-200%);
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48 !important
}
.active .material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48 !important
}


.greencirc {
    position: absolute;
    background: linear-gradient(189.84deg, #51E08E 5.45%, #3FAFB5 60.83%);
    
    box-shadow: 0px 0px 200px rgba(81, 224, 142, 0.5);
    width: 950px;
    height: 950px;
    left: 90vh;
    top: 40vh;
    border-radius: 100%;
    /* transform: rotate(-81.88deg); */
}
.australia {
    z-index: -1;
    background: url('/assets/Australia.png');
    background-position: -50px 150px;
    background-size: 90%;
    background-repeat: no-repeat;
    opacity: 0.3;
}


.gcbackground {
    z-index: -2;
    background: linear-gradient(189.84deg, #51E08E 5.45%, #3FAFB5 60.83%);

}
/* .orangecircgrain {
    
   
    z-index: 3;
    width: 850px;
    height: 850px;
    border-radius: 100%;
    
}
.orangecircgrain img {
    
} */
.orangecirc {
    
    
    opacity: 1;
}
#orangecircle {
    background-image: url('assets/grain\ overlay.jpg');
    box-shadow: 0px 0px 250px rgba(255, 201, 115, 0.5);
    background: linear-gradient(148.01deg, #FFC973 5.51%, #EF5B85 57.6%);
    position: absolute;
    width: 850px;
    height: 850px;
    left: 140vh;
    top: 70vh;
    border-radius: 100%;
    z-index: 2;
    transition: margin-top 1000ms cubic-bezier(0.65,0.05,0.36,1);
    /* transform: translateZ(1px) scale(0.8); */
}
.orangecirchide {
    margin-top: 20%;
}
#bluediamond {
    background: linear-gradient(330deg, #EF5B85 -9.91%, #70d6ff 99.21%);
    cursor: grab;
}
.diasmall {
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
          clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    position: absolute;
    /* opacity: 0; */
    left: 55vw;
    top: 10vh;
    width: 1000px;
    height: 1000px;
    /* background-repeat: no-repeat;
    background-position: center;
    background-size: contain !important;
    background: url(assets/figma\ gif\ test.gif); */
    transition: all 1000ms cubic-bezier(0.65,0.05,0.36,1);
}

.diaexpand {
    position: absolute;
    overflow-y:hidden;
    cursor: no-drop !important;
    
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    z-index: 1;
    clip-path: polygon(100% 0, 100% 100%, 0 100vh, 0 0);
    background: #000;
    
}

.bluediavideo:hover {
    opacity: 0.6;
}

#bluediamond.diaexpand {
    background: #000;
}
.bluediavideo {
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    opacity: 0.30;
    
}


.diaexpand .bluediavideo {
    opacity: 1;
    height: 100vh;
    /* width: 100vw; */
    /* position: relative; */
}
.diaexpand #video-preview {
    height: 100%;
}
.diaexpand #video-preview video{
    height: 100%;
}

/* #videopreview {
    width: 20vw;
    display: flex;
    justify-content: center;
} */

#close {
    user-select: none;
    position: fixed;
    z-index: 999;
    
    text-decoration-style: none;
    color: #f9f9f9;
    transform-origin: center;
    line-height: 0;
    top: 0vh;
    left: 4vh;
}

/* #bluediamond:active {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height:100vh;
    z-index: 4;
    clip-path: polygon(100% 0, 100% 100%, 0 100vh, 0 0);
    background: #000;
} */




/* oh yeah also how do i make it so that it isnt when active, but like if you click on it once*/
/*
javascript oh
you can do the :checked way but its pretty finicky
it requires an invisble checkbox 
yeahhhhh'

hmmmm the checkbox thing, is it just like i make a huge checkbox acting as a hitbox for the thing

yes but you can't reactively chanegthe state anywhere else
so when you open the video popup to close it you have to click at the same spot that is disgusting.

yea
*/

#video-preview {
    transform: scale(1);
    min-height: 100%;
    width: 100%;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}

#video-preview video { 
    min-height: 100%;
    width: 100%;
    transition: all 1s cubic-bezier(0.165, 0.84, 0.44, 1);

}


#bluediamond:active #video-preview {
    transform: scale(1);
}



.section-text {
    font-family: 'Zen Kaku Gothic New', sans-serif;
    /* margin: 0px; */
    max-width: 600px;
}
.margin {
    margin-top: 0px;
    margin-bottom: 0px;
}
.button {
    user-select: none;
    font-family: 'Zen Kaku Gothic New';
    font-weight: 900;
    color: black;
    /* font-size: 24px; */
    padding: 20px 25px 23px;
    background: #51e08e;
    border-radius: 12px;
    text-align: center;
    
    line-height: 1em;
    display: inline-block;
    width: auto;
    /* box-shadow: 0px 0px 0px 0px #27a35d; */
    transition: 400ms cubic-bezier(0,0.69,0.31,1.63), background-color, outline-color cubic-bezier(0,0.69,0.44,0.99);
}

.button-row {
    display: block;
    outline-offset: -5px;
}
.button:hover {
    
    transform: scale(1.1);
    /* box-shadow: 0px 5px 0px 0px #27a35d; */
}
.workbtn:active {
    border-radius: 6px;
    outline-style: solid;
    outline-color: rgba(81, 224, 142, 1);
    outline-offset: 5px;
    outline-width: 5px;
    margin-top: 8px;
    margin-left: 12px;
    padding: 16px 24px;
    font-size: 14px;
    transition: 200ms cubic-bezier(0,0.69,0.31,1.63), background-color, outline-color cubic-bezier(0,0.69,0.44,0.99);

    /* padding: 20px 25px 15px; */
    /* box-shadow: 0px -8px 0px 0px #196c3d; */
}
.portbtn:active {
    border-radius: 6px;
    outline-style: solid;
    outline-color: rgba(81, 224, 142, 1);
    outline-offset: 5px;
    outline-width: 5px;
    margin-top: 8px;
    /* margin-left: 12px; */
    padding: 16px 24px;
    font-size: 14px;
    transition: 200ms cubic-bezier(0,0.69,0.31,1.63), background-color, outline-color cubic-bezier(0,0.69,0.44,0.99);

    /* padding: 20px 25px 15px; */
    /* box-shadow: 0px -8px 0px 0px #196c3d; */
}
#title {
    
    height: 100vh;
    display: flex;;
    flex-direction: column;
    justify-content: center;
    
    /* background: #51e08e; */
}
.titletext {
    z-index: -1;
    width: max-content;
    margin-top: 0;
    margin-bottom: 0px !important;
    
}
.titletext .in1 {
    animation: textpop 1000ms;
    animation-delay: 600ms;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,0.93,0.01,0.99);
}
.titletext .in2 {
    animation: textpop 1000ms;
    animation-delay: 680ms;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,0.93,0.01,0.99);
}
.titletext .in3 {
    animation: textpop 1000ms;
    animation-delay: 760ms;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0,0.93,0.01,0.99);
}


#title a {
    
    user-select: none;
    position: absolute;
    z-index: 10;
    
    color: #f9f9f9;
    transform: scale(250%);
    top: 90vh;
    left: 50%;
    right: 50%;
    transition: 200ms cubic-bezier(0,0.65,0.36,1);
}
#title a:hover {
    transform: scale(250%) translateY(-10%);
    
}
#downarrow {
    transition: 1000ms cubic-bezier(0.65,0.05,0.36,1);
}
.arrowhide {
    transform: translateY(200%);
}
#title a:active {
    transform: scale(250%) translateY(10%);
}
#aboutme {
    height: 100vh;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    justify-content: center;
    
}
#aboutme .bodybold {
    margin-bottom: 2vh;
}
.aboutmemain {
    width: 150vw;
}
#time {
    text-align: right;
    z-index: 5;
}
.iama a {
    
    animation: color-change 5s infinite;
}
.iama a:hover {
    animation:none;
    color: #000;
    
}
.iama a:active {
    color: #fff;
}
.iama {
    border-radius: 8px;
    transition: 400ms cubic-bezier(0.03,0.84,0.39,1.37);
}
.iama:hover {
    font-family: Satoshi;
    text-decoration-thickness: 2px;
    padding: 2px 8px;
    background-color: rgba(0,0,0,0.1);
}
.iama:active {
    font-family: Zen Kaku Gothic New;
    
    font-size: 27px;
    padding: 0px 8px;
    background-color: rgba(0,0,0,1);
}
.aboutmebottom {
    
    margin-top: 3%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

#mywork {
    /* background: #FFC973; */
    display: flex;
    flex-direction: column;
    
}
.showcase {
    left: -50px;
    width: 100vw;
    display: grid;
    /* grid-template-columns: 700px 500px 200px; */
    /* grid-template-rows: 200px 200px 200px; */
    grid-template:
        "a a a b b b" auto
        "c c c b b b" 70vh
        "d d d d e e" 70vh
        "f f f f f f" 70vh / 
        1fr 1fr 1fr 1fr 1fr 1fr;
}
#cell-desc {
    grid-area: a;
    min-height: 400px;
    /* background: red; */
}
.psuedo-container {
    margin-top: 5vh;
    width: 40vw;
    float: right;
}
.thumbnail a { 
    height: 100%;
    width: 100%;
    /* margin: 0 !important;
    float: none !important; */
    display: flex;
    z-index: 2;
    
    color: #f9f9f9;
    position: relative;
}
.thumbnail h3, p {
    margin: 0px;
}
.thumbnail .showcasetext {
    justify-content: flex-end;
    align-items: flex-end;
    display: flex;
    padding: 3em 4em;
    flex-direction: column;
    width: 100%;
    transition: 400ms cubic-bezier(0.22,0.61,0.36,1);

}
.thumbnail:hover .showcasetext {
    opacity: 0;
    transform: translateY(5%);
}
.thumbnail {
    height: 100%;
    width: 100%;
    position: relative;
}

.thumb-bg {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 300ms cubic-bezier(0.22,0.61,0.36,1);
}

.cell-b {
    grid-area: b;
    /* background: green; */
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.3)),
        url("assets/man.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    transition: 500ms cubic-bezier(1,0,0,1);
}
.cell-b:hover .thumb-bg {
    opacity: 1;
}

.cell-c {
    grid-area: c;
    /* background: blue; */
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.3)),
        url("assets/showcase/arclight.png");
    background-position: center;
    background-size: cover;
}
.cell-c:hover .thumb-bg {
    opacity: 1;
}

.cell-d {
    grid-area: d;
    /* background: orange; */
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.3)),
        url("assets/showcase/astrid.png");
    background-position: center;
    background-size: cover;
}
.cell-d:hover .thumb-bg {
    opacity: 1;
}

.cell-e {
    grid-area: e;
    /* background: grey; */
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.3)),
        url("assets/showcase/reflections.png");
    background-position: center;
    background-size: cover;
}
.cell-e:hover .thumb-bg {
    opacity: 1;
}

.cell-f {
    grid-area: f;
    /* background: purple; */
    background-image: 
        linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 0.3)),
        url("assets/showcase/unveil.png");
    background-position: center;
    background-size: cover;
}
.cell-f:hover .thumb-bg {
    opacity: 1;
}

/* .showcase img {
    width: 500px;
} */

.seemore {
    display: flex;
    justify-content: center;
    height: 453px;  
    background: url("assets/pattern.png");
}
.showcasebottom {
    display: block;
    margin-top: 10vh;
    text-align: center;
}
/* #mywork a {
    text-decoration: none;
    margin: 1%;
    float: right;
    color: #f9f9f9;
} */

/* .portfolio_placeholder {
    width: 1920px !important;
    height: 1080px;
} */
.footer {
    width: 100vw;
    padding-top: 13vh;
    padding-bottom: 14vh; 
    background: url("assets/footerlogo.png");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 40vw; 
    
}
.footertop {
    
    display: flex;
    justify-content: space-between;
}
.footer h2 {
    margin-top: 0vh;
    margin-bottom: 2vh;
}
.socials {
    margin-top: 3vh;
    float: right;

    display: flex;
    gap: 3em;
    
}
.socials a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0);
    transition: 200ms cubic-bezier(0,0.65,0.36,1);
}
.socials a:hover {
    background: rgba(0, 0, 0, 0.1);
    fill: #000000;
    /* background-color: #fff; */
    transform: scale(110%);
}
.footerbottomright {
   
    
    margin-top: 3vh;
    float:right;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer a {
    color: #000;
    
    
}
.footerbottomright > * {
    margin: 0;
}
.footerleft {
    width: 80vw;
}
.footerleft {
    width: 80vw;
}



#credits {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background: #51e08e; */
}

.creditsgridgrid {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.creditimage {
    border-radius: 8px;
    width: 6vw;
}
.guytext {
    margin-left: 1vw;
    display: flex;
    top: auto;
    bottom: auto;
    flex-direction: column;
}
.guy {
    height: 6vw;
    width: 20vw;
    display: grid;
    row-gap: 50vh;
    padding: 10px;
    grid-template:
        "g h" 8vh
        "g i" 8vh /
        1fr 4fr;
    transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 10px;
    outline-offset: -10px;
    outline: solid;
    outline-width: 0px;
    outline-color: rgba(0, 0, 0, 0);
}

.guy:hover {
    
    transform: translateY(-5%);

}
.guy:active {
    outline: solid;
    outline-color: rgba(0, 0, 0, 0.3);
    outline-width: 5px;
    outline-offset: 5px;
    /* box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, 0.3); */
    transform: translateY(10%);

}

.guy h5 {
    margin: 0px;
    margin-bottom: 1vh;
}
.guy p {
    line-height: 22px;
}
.creditsgrid {
    gap: 20px;
    width: 44vw;
    margin-top: 5vh;
    /* margin-bottom: 2vh; */
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: 700px 500px 200px; */
    /* grid-template-rows: 200px 200px 200px; */
}
.creditsgrid a {
    color: #000;
    
}

.cell-g {
    /* background-color: #51E08E; */
    grid-area: g;
}
.cell-h {
    /* background-color: #EF5B85; */
    grid-area: h;
}
.cell-i {
    /* background-color: #FFC973; */
    grid-area: i;
}

.center {
    margin-left: auto;
    margin-right: auto;
}



.header {
    padding-top: 25vh;
    padding-bottom: 5vh;
    /* background-color: #51e08e; */
    
}
#hb {
    background-image: url(assets/showcase/blurred/arclight.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hc {
    background-image: url(assets/showcase/blurred/astrid.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hd {
    background-image: url(assets/showcase/blurred/reflections.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#he {
    background-image: url(assets/showcase/blurred/reflections.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#hf {
    background-image: url(assets/showcase/blurred/unveil.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.headertext {
    width: 100%;
    max-width: 80vw;
    margin: auto;
}
.projoutline {
    width: 40%;
}
.header h2 {
    margin-bottom: 10vh;
    margin-top: 0;
}
.showcasevidwrapper {
    position:absolute;
    width: 800px;
    height: 450px;
    top: 40vh;
    right: 10vw;
    display: flex;
    justify-content: center;
}
.showcasevid {
    
    
    border-radius: 12px;
    transition: 200ms cubic-bezier(0,0.65,0.36,1);
}
.showcasevid:hover {
    box-shadow: 0px 12px 0px 0px rgba(0,0,0,0.1);
    border-radius: 0px;
    transform: scale(1.02);
}

.desc a {
    color: #000000;
    text-decoration: underline;
}
.desc {
    margin-top: 6vh;
    width: 40%;
}

.bts {
    margin-top: 15vh;
}

.bts video {
    margin-top: 2vh;
    margin-bottom: 1vh;
    width: 100%;
}
ul {
    width: max-content;
    list-style-type: none;
}
li span {
    height: 40px;
    padding-right: 15px;
    transform: translateY(5px);
    user-select: none;
}

.tag {
    font-size: 0px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 0px;
    border-radius: 8px;
    vertical-align:middle;
    text-transform: uppercase;
    transition: 300ms cubic-bezier(0,0.65,0.36,1);
}
li:hover .tag {
    font-size: 16px;
    font-weight: 900;
    font-family: Satoshi;
    vertical-align:baseline;
    transform: translateY(0%);
    background-color: rgba(0,0,0,0.1);
    text-align: center;
    padding: 5px 10px 5px 10px;
    margin: 0;
    border-radius: 8px;
}

.showreelb {
    mix-blend-mode: difference;
    color: #fff !important;
}
.back {
    cursor: grab;
    mix-blend-mode: difference;
    color: #fff;
    z-index: 10;
    position: fixed;
    transform: scale(250%);
    top: 8vh;
    left: 8vh;
    transition: 300ms cubic-bezier(0,0.65,0.36,1);
}
.back:hover {
    transform: scale(250%) translateX(10%);
}
.back:active {
    transform: scale(250%) translateX(-15%);
}


#works {
    margin-top: 25vh;
    
}
#works a {
    
    color: #000;
}
#banner {
    /* height: 20vh; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transition: 400ms cubic-bezier(0,0.65,0.36,1);
}
#banner:hover {
    transform: translateY(-10.5%);
    /* height: 50vh; */
    
    
    box-shadow: 0px 18px 0px 0px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 20px 0px 20px rgba(0, 0, 0, 0.5); */
}
#banner:hover h3 {
    /* letter-spacing: 10px; */
}
#banner:active {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.1);
    transform: translateY(10.5%)
}

.bannerlist {
    margin-top: 10vh;
}

#banner h3 {
    color: #fff;
    margin-top: -5px;
    height: 14vh;
    padding-left: 3vw;
    padding-top: 7vh;
    transition: 400ms cubic-bezier(0,0.65,0.36,1);
}
.bannerlist a:hover {
    /* filter: blur(50px); */
}
.md1 {
    background-image: 
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(assets/other\ motion\ work/flodxzs.png);
}
.md2 {
    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(assets/other\ motion\ work/mangoplayz\ stream.png);
}
.md3 {
    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(assets/other\ motion\ work/itsoasis\ stream.png);
}
.md4 {
    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(assets/other\ motion\ work/instaae.png);
}
.md5 {
    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(assets/other\ motion\ work/minutetech\ stream.png);
}
.md6 {
    background-image:
        linear-gradient(to left, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5)),
        url(assets/other\ motion\ work/moment.png);
}









/* dont delete this cubing its vershy infportant !!! - jason nel */

.egg:hover {
    opacity:30%;
    width: 35px;
  }
  
  .egg {
    opacity: 0%;
    transition: 500ms ease;
    width: 15px;
  }

/* dont delete this cubing its vershy infportant !!! - jason nel */
